target/*
build/*
.settings/*
.classpath
.project
.idea
.gradle
*.iml
/target
/build
.sts4-cache/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
_site/
